/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start 20px below its final position */
    }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at its final position */
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #111111;
  color: #c2c2c2;
  line-height: 1.6;

  margin: 0;
  min-height: 100vh;

  background: 
     linear-gradient(
      to bottom,
      rgba(0,0,0,0) 0%,      /* fully transparent at very top */
      #070707 60%,   /* already quite dark early */
      #070707 80%      /* full black fairly soon */
    ),
    url(assets/sand.jpg);
  background-size: cover;       /* makes sure it fills the screen */
  background-attachment: fixed;
}

button {
background: rgba(255, 255, 255, 0.2);
border-radius: 15px;
box-shadow: 0 4px 30px rgba(139, 139, 139, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 1rem;
cursor: pointer; 
position: relative;
overflow: hidden;
font-weight: bold;
font-family: "Segoe UI", sans-serif;
font-size: 1.2rem;
color: #fff;
transition: transform 0.5s ease;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

button:hover {
  border-color: #666666;
  background: #5e5e5e;
  transform: translateY(-4px);
}

/*body::before{
  background-size: cover;
  position: absolute;
  background-image: url(assets/1D7F8A.png);
  opacity: 0.5;
  top: 0;
  z-index: -1;
}*/

/* Header */
.headerDiv {
  position: sticky;
  width: 100%;
  top: 0;
  background: #777777;
   z-index: 50;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
    background: radial-gradient(
    circle,
    rgba(228, 228, 228, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
  z-index: 51;
}

.logo {
  height: 60px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.header nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  position: relative;
}

.header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #111;
  transition: width 0.3s ease;
}

.header nav a:hover::after {
  width: 100%;
}

/* Greet */
.greet {
  text-align: center;
  padding: 6rem 2rem;
  /*background-image: url(assets/sand.jpg);
  background-size: cover;
    box-shadow: inset 0px 0px 10px #000;
  /*background: linear-gradient(to bottom, #121F23, #090C08);*/
}

.greet h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -1px;
  color: #fff;
}

.greet p {
  font-size: 1.2rem;
  margin-top: 1rem;
  /*color: #1D7F8A;*/
  text-shadow: 0px 0px 5px #c2c2c2;
}

/* Projects */
.projects {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.projects h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 0px 0px 5px #000;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.project {
  text-align: left;
  box-shadow: 5px 5px 10px #000; 
  padding: 1.5rem;
  background: #fff;
  transition: transform 0.2s ease;
  border-radius: 10px;
  color: #111;
  opacity: 80%;
}

.project:hover {
  transform: translateY(-4px);
  opacity: 100%;
}

.project h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 0.95rem;
  color: #444;
}

/* Individual project */

.projectInfoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  font-size: large;
  font-weight: 500;
  padding: -3rem;
}

.projectPage {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
  border-left: 1px solid #c2c2c2;
}

.projectPage h1 {
  font-size: 3rem;
  border-bottom:1px solid #c2c2c2;
  text-transform: uppercase;
}

.projectPage p {
  padding: 4rem 0rem;
  max-width: 1000px;
  margin: auto;
}

.projectPage span {
  color: #fff;
  text-shadow: 0px 0px 5px #c2c2c2;
}

/*
.anim {
  z-index: 10;
}
*/

.projectDesc {
  text-align: justify;
}

.projectSpecial {
  padding: 2rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

/* About */

.aboutIntro {
  animation: fadeUp 1s ease-out forwards;
  padding: 6rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #fff;
}
.aboutIntro span {
  color: #5e5e5e;
  font-weight: 100;
  transition: all 0.3s ease;
}
.aboutIntro span:hover {
  color: #fff;
  cursor: pointer;
  transform: translateX(1rem);
  text-decoration: underline;
}

.about {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
  border-left: 1px solid #c2c2c2;
}

.about h1 {
  border-bottom:1px solid #c2c2c2;
  text-transform: uppercase;
}

.about p {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: justify;
}

.about span {
  padding: 2rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #fff;
}

/* Footer */
.footer {
  text-align: center;
  padding: 2rem;
  border-top: 2px solid #111;
  margin-top: 4rem;
}

.footer p {
  font-size: 0.9rem;
  color: #444;
}
