/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start 20px below its final position */
    }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at its final position */
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #111111;
  color: #c2c2c2;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  background: 
     linear-gradient(
      to bottom,
      rgba(0,0,0,0) 0%,      /* fully transparent at very top */
      #070707 60%,   /* already quite dark early */
      #070707 80%      /* full black fairly soon */
    ),
    url(assets/sand.jpg);
  background-size: cover;       /* makes sure it fills the screen */
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

button {
background: rgba(255, 255, 255, 0.2);
border-radius: 15px;
box-shadow: 0 4px 30px rgba(139, 139, 139, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 1rem;
cursor: pointer; 
position: relative;
overflow: hidden;
font-weight: bold;
font-family: "Segoe UI", sans-serif;
font-size: 1.2rem;
color: #fff;
transition: transform 0.5s ease;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}

button:hover {
  border-color: #666666;
  background: #5e5e5e;
  transform: translateY(-4px);
}

/*body::before{
  background-size: cover;
  position: absolute;
  background-image: url(assets/1D7F8A.png);
  opacity: 0.5;
  top: 0;
  z-index: -1;
}*/

/* Header */
.headerDiv {
  position: sticky;
  width: 100%;
  top: 0;
  background: #777777;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: radial-gradient(
    circle,
    rgba(228, 228, 228, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
  z-index: 1001;
}

.logo {
  height: 60px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.hamburger {
  all: unset;
  display: none;
  background: none;
  border: none;
  color: #000;
  position: absolute;
  right: 0;
  margin: 3rem;
}
.hamburger::after {
  all: unset;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .navlinks {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: #c2c2c2;
    flex-direction: column;
    padding: 1rem;
    display: none; 
    gap: 1rem;
    z-index: 40;
  }
  .navlinks.open {
    display: flex; 
  }
}

.overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20; /* less than header but more than other content */
}

.header nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #111;
  transition: width 0.3s ease;
}

.header nav a:hover::after {
  width: 100%;
}

.header nav a.active::after {
  width: 100%;
}

/* Greet */
.greet {
  text-align: center;
  padding: 6rem 2rem;
  /*background-image: url(assets/sand.jpg);
  background-size: cover;
    box-shadow: inset 0px 0px 10px #000;
  /*background: linear-gradient(to bottom, #121F23, #090C08);*/
}

.greet h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -1px;
  color: #fff;
}

.greet p {
  font-size: 1.2rem;
  margin-top: 1rem;
  /*color: #1D7F8A;*/
  text-shadow: 0px 0px 5px #c2c2c2;
}

/* Projects */

.projects {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

ul {
  padding: 0 2rem;
}
li {
  padding: 0.5rem;
  text-align: left;
}

.projects h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 0px 0px 5px #000;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.project {
  text-align: left;
  box-shadow: 5px 5px 10px #000; 
  padding: 1.5rem;
  background: #fff;
  transition: transform 0.2s ease;
  border-radius: 10px;
  color: #111;
  opacity: 80%;
}

.project:hover {
  transform: translateY(-4px);
  opacity: 100%;
}

.project h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 0.95rem;
  color: #444;
}

/* Individual project .projectInfoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  font-size: large;
  font-weight: 500;
  padding: 2rem;
  border: white 1px solid ;
}*/

.projectInfoGrid {
  display: flex;
  justify-content: space-around;
  font-size: large;
  font-weight: 500;
  padding: 2rem;
}

.projectBanner {
  width: 100%;
  margin: 2rem 0rem;
}

.spacer {
  margin: 2rem 0;
  border-bottom: #fff 1px solid;
}
.noLineSpacer {
  margin: 2rem 0;
}

.projectPage {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
  border-left: 1px solid #c2c2c2;
}

.projectPage h1 {
  font-size: 3rem;
  border-bottom:1px solid #c2c2c2;
  text-transform: uppercase;
}


@media (max-width: 768px) {
  .projectPage h1 {
    font-size: 22pt;
  }
}

.projectPage span {
  color: #fff;
  text-shadow: 0px 0px 5px #c2c2c2;
}

.projectDesc {
  text-align: justify;
  padding: 2rem 0rem 4rem 0rem;
  max-width: 1000px;
  margin: auto;
}

.projectSpecial {
  padding: 2rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 768px) {
  .projectSpecial {
    padding: 1rem 0.5rem; /* smaller padding for tablets/phones */
    font-size: 1.2rem;    /* slightly smaller font size */
  }
}

.backLink {
  padding: 3rem;
}

@media (max-width: 768px) {
  .backLinkContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
}

/* About */

.aboutIntro {
  animation: fadeUp 1s ease-out forwards;
  padding: 6rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #fff;
}
.aboutIntro span {
  color: #5e5e5e;
  font-weight: 100;
  transition: all 0.3s ease;
  text-decoration: underline;
}
.aboutIntro span:hover {
  color: #fff;
  cursor: pointer;
  transform: translateX(1rem);
}

@media (max-width: 768px) {
  .aboutIntro {
    padding: 2rem 1rem;
    font-size: 1.2rem;  
  }
}

.aboutBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .aboutBox {
    padding: 2rem 1rem;
    font-size: 1.2rem;  
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}

.likes {
  padding: 1rem;
  max-width: 1000px;
  font-size: 1rem;
  color: #fff;
  height: 6rem;
}

.aboutBox img {
  filter: grayscale(100%);
}

.about {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
  border-left: 1px solid #c2c2c2;
}

.about h1 {
  border-bottom:1px solid #c2c2c2;
  text-transform: uppercase;
}

.about p {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: justify;
}

.about h3 {
  color: #fff;
  text-shadow: 0px 0px 5px #c2c2c2;
  font-weight: 200;
}

.skillsWrapper {
  max-width: 100%;  /* full width of container */
  display: flex;           /* make it a flex row */
  overflow-x: auto;        /* allow horizontal scroll */
  -webkit-overflow-scrolling: touch; /* smooth scroll on mobile */
  gap: 10px;               /* spacing between items */
  padding-bottom: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth; /* optional smooth scroll */
}

.skills {
  display: inline-flex;    /* inline-flex keeps width to content */
  gap: 10px; /* spacing between tags */
  margin: 20px 0px;
}

.skill {
 flex: 0 0 auto;          /* important: don’t shrink or grow */
  padding: 6px 14px;
  background-color: #5e5e5e;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  white-space: wrap;     /* keep text in one line */
}

.prog { background-color: #495c4b; }
.soft { background-color: #404850; }

.skillsWrapper::-webkit-scrollbar {
  height: 6px;
}
.skillsWrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
.skillsWrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Contact */
.contactLinks {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.artGridContainer{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.phoneText {
  display: none;
}

@media (max-width: 768px) {
  .phoneText {
    display: block;
  }
}

.art-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.art-grid img {
  width: auto;
  height: 300px;
  filter: grayscale(100%);
  transition: transform 0.2s ease;
}
.art-grid img:hover {
  filter: grayscale(0%);
  transform: scale(1.05) translateY(-4px);
}

/* Footer */
.footer {
  text-align: center;
  padding: 2rem;
  border-top: 2px solid #111;
  margin-top: 4rem;
}

.footer p {
  font-size: 0.9rem;
  color: #444;
}
