h1 {
  font-size: 5em;
}
h1 span {
  position: relative;
  color: #53847c;
}

.App-header {
}

.App-link {
  color: #61dafb;
}
.TabNav {
  display: flex;
  justify-content: space-between;
}

.TabNav button {
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.TabNav button:hover {
  background-color: #ddd;
}
.TabNav button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
