@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Eczar&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dcdeda;
}
p {
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2 {
  font-family: "Arvo", serif;
  text-transform: uppercase;
}
h1 {
  font-size: 8vh;
}
h1 span {
  position: relative;
  color: #53847c;
}
h1 span::before {
  border-radius: 4px;
  content: " ";
  right: -20px;
  top: 45%;
  position: absolute;
  height: 80px;
  width: 6px;
  background: #53847c;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
h1 span.stopBlinking::before {
  animation: none;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button.avgButton {
  border-radius: 50px;
  background-color: transparent;
  box-shadow: 15px 15px 30px #aeafac, -15px -15px 30px #ffffff;
  cursor: pointer;
  font-size: 14px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #53847c;
  height: 48px;
}
button.avgButton:hover {
  color: #dcdeda;
  background-color: #53847c;
}
